<html>
<head>
    <title>Knowledge Management System</title>
    <link rel="stylesheet" href="{{ asset('Base/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Base/css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('Base/css/metisMenu.css') }}">
    <link rel="stylesheet" href="{{ asset('Base/css/style.css') }}">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {% block customStylesheet %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
<script src="{{ asset('Base/js/jquery-2.1.3.js') }}"></script>
<script src="{{ asset('Base/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('Base/js/sb-admin-2.js') }}"></script>
<script src="{{ asset('Base/js/metisMenu.js') }}"></script>
{% block customScripts %}
{% endblock %}
</html>