{% extends ':layout:master.html.twig' %}
{% block customStylesheet %}

    {% endblock %}
{% block content %}
    <div class="col-sm-6">
    <div class="white-panel pn">
        <div class="white-header">
        <h3>My Recent Articles</h3>
    </div>
        {% for article in user_articles %}
            <div class="article-heading"><h5><a href="#">{{ article.heading }}</a> </h5></div>
            <div class="article-content"><p>{{ article.content|slice(0,150) }}<a href="#">...</a></p></div>
        {% endfor %}
    </div>
    </div>
    <div class="col-sm-6">
        <div class="white-panel pn">
            <div class="white-header">
                <h3>Recent Comments</h3>

            </div>
            {% for comment in user_comments %}
                <div class="article-heading"><h5><a href="#">{{ comment.articleId.heading }}</a> </h5></div>
                <div class="article-content"><p>{{ comment.text }}<a href="#">  view comment</a></p></div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-12">
        <div class="white-panel pn">
            <div class="white-header">
                <h3>News Feed</h3>
            </div>
            {#{% for news in department_news %}#}
                {#<div class="article-heading"><h5><a href="#">{{ news.articles.heading}}</a> </h5></div>#}
                {#<div class="article-content"><p>{{  news.articles.content|slice(0,150) }}<a href="#">  view comment</a></p></div>#}
                {#{% endfor %}#}
        </div>
    </div>
{% endblock %}
{% block customScripts %}
    <script src="{{ asset('Dashboard/js/posts.js') }}"></script>
{% endblock %}

